* {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #404040;
	padding: 0;
	margin: 0;
}

h1 {
	padding: 0px;
	margin: 0px;
}
body {
	background-color: #F7F7F7;
	padding: 55px 0px 0px 0px;
	margin: 0px;
}

input {
	padding: 10px;
	margin: 5px auto;
	display: block;
	width: 80%;
	border-style: solid;
	border-width: 1px;
	border-color: #B0B0AA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

input:first-child {
	margin-top: 20px;
}

input[type="submit"] {
	box-sizing: content-box;
}

.navbar {
	background: #404040;
	padding: 10px 20px;
	margin: 0px;
	color: white;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	height: 22px;
	box-shadow: 0 0 10px rgba(10, 10, 10, .6);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}

.navbar-image {
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
.vertical-center {
	margin-top: 100px;
}

.appointment, .time-block {
	display: block;
	background-color: white;
	border: 1px solid #999999;	
	margin: 10px auto;
	width: 80%;
	height: 80px;	
	padding: 0;
	position: relative;
}

.time-block {
	width: 30%;
	display: inline-block;
	height: 40px;
	margin: 1%;
	position: inherit;
	text-align: center;
}

.time-blocks {
	margin: 0 auto;
}

.appointment .buttons {
	width: 100%;
	margin: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.appointment .buttons a {
	/*border: 1px solid #EFEFEF;*/
	background: #404040;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

.appointment img {
	width: 15px;
	height: 15px;
}

.appointment .date {
	padding: 5px;
	width: 20%;
	display: inline-block;
	font-weight: bold;
}

.appointment .therapist {
	padding: 5px;
	display: inline-block;
	vertical-align: top;
}

.time-block .date {
	padding: 5px;
	width: 100%;
	display: inline-block;
	font-weight: bold;
}

.time-block:hover, .time-block:focus {
	
}

.navigation {
	height: 40px;
}

.full-width {
	width: 100%!important;
}

.floating-button {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #588be6;
	box-shadow: 2px 2px 15px #c7c4d3;
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.floating-button .plus-button {
	background: url('http://www.iconsdb.com/icons/download/white/plus-512.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}